<h1><%=@club.username%></h1>

<p>We are asking you to suggest a names for selected stars and planets! To see the full list of nameable objects go <a href='/the_exoworlds'>here</a></p>


<%if false %>

  <p>We are asking you to select systems to be taken to the next stage of the naming proces. You can select as many
  systems as you like but only once on each system</p>
  <h2>Your selections</h2>
  <p>You have <%=@club.votes_remaining%> selections remaining</p>
  <% if @club.system_votes.count == 0 %>
    <p>You have yet to select any systems. Go <%=link_to 'here', '/systems'%> to start selecting systems</p>
  <%else%>

    <table class="table table-condensed table-hover">

      <thead>
        <tr><td> Host Star (catalogue)</td> <td># Planet (designation)</td> <td> Planet Mass (Jupiter mass)</td> <td>Planet Mass (Earth mass)</td> <td> Orbital Period (day)</td> <td> Semi Major Axis (au)</td> <td>Discovery (year)</td> <td>Constellation (English)</td> <td>Visibility </td> <td>V magnitude </td></tr>
      </thead>
      <tbody>

      <%@club.system_votes.collect{|v| v.system}.each do |s|%>
        <%=render  partial: "home/system_table_rows", :locals=>{system:s}%>
      <%end%>

      </tbody>
    </table>

  <%end%>
<%end%>




<%if !@club.can_suggest%>
  <h2>Your name suggestion</h2>
  <p>You have named the star and planets of the <%=@club.proposed_names.first.system.name%> system.</p>

  <table class="table table-condensed table-hover">

    <thead>
      <tr><td> Host Star (catalogue)</td> <td># Planet (designation)</td> <td> Planet Mass (Jupiter mass)</td> <td>Planet Mass (Earth mass)</td> <td> Orbital Period (day)</td> <td> Semi Major Axis (au)</td> <td>Discovery (year)</td> <td>Constellation (English)</td> <td>Visibility </td> <td>V magnitude </td></tr>
    </thead>
    <tbody>

    <%@club.proposed_names.each do |name|%>
      <%=render  partial: "home/system_table_rows",  :locals=>{system:(name.system), club: @club, show_proposed_name: true, :only_system: false }%>
    <%end%>

    </tbody>
  </table>
<%end%>
