<div class="row">
  <div class="col-lg-6">
    <div class="text-center">
      <a href='http://www.iau.org/'><img style='height:80px' src=<%= asset_path 'IAULogo.png'%>/></a>
      <p>International Astronomical Union</p>

    </div>
  </div>
  <div class="col-lg-6">
    <div class="text-center">
      <a href='https://www.zooniverse.org/'><img style='padding-top:30px' src=<%= asset_path 'zooniverse-wordmark-web-white-small.png'%>/></a>
    </div>
  </div>
</div>

<div class="row">
  <h1 style='font-size:60px' class="text-center hidden-xs"><strong>NameExoWorlds</strong></h1>
  <h1 class="text-center visible-xs"><strong>NameExoWorlds</strong></h1>
  <p class="lead text-center">Help decide the names of planets orbiting other stars</p>
</div>

<div id='involved' class="row">
  <div class="col-lg-6">
    <div class="text-center">
      <h1>For Public and Astronomy-Interested Organisations</h1>
      <p>Thanks for picking the top 20 systems, and putting together a list of name proposals. Voting has now commenced.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="text-center">
      <% if signed_in? %>
        <h1>For individuals</h1>
        <p>Thanks for signing in. You can now <%= link_to "vote on names", the_exoworlds_path %>.</p>
      <% elsif Settings.login_visible? %>
        <h1>For individuals</h1>
        <p>To vote, sign in with any of your accounts listed below.<br><br><br> </p>
        <a href="<%= user_omniauth_authorize_path(:twitter) %>"><button class="btn btn-primary btn-lg">Twitter</button></a>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>"><button class="btn btn-primary btn-lg">Facebook</button></a>
        <% if Rails.env.development? %>
        <a href="<%= user_omniauth_authorize_path(:developer) %>"><button class="btn btn-primary btn-lg">Dev</button></a>
        <% end %>
      <% else %>
        <h1>For individuals</h1>
        Voting will commence within the next couple of days.
      <% end %>
    </div>
  </div>
</div>

<hr>
<a href="http://directory.iau.org"><img src="https://directory.iau.org/f/page/39/banner_Directory.png"></a>
