<div id='planets' class='row'>
  <div class='col-lg-12'>
    <h1 class='center-text'>The ExoWorlds</h1>
    <p>The ExoWorlds list of exoplanets and their host stars being available for public naming at the initiative of the IAU is a list compiled from several exoplanet databases, including exoplanet.eu [2] and exoplanets.org [3].</p>
    <p>This list includes well-studied exoplanets discovered over twenty years, up to 31 December 2008. A period of at least five years since the discovery has been considered as a simple and satisfactory criterion to include exoplanets which can be considered as confirmed. All the discoveries were made using various methods, including radial velocities, transits, microlensing and direct imagery.</p>
    <p>For these exoplanets, the scientific nomenclature follows the nomenclature rules widely adopted by the scientific community, which are drawn from the rules for naming binary stars. For each planet, the name of the host star (around which planets are orbiting) is followed by a lower-case letter: b for the first discovered exoplanet, c for the second, etc. (The letters are capitalized in the case of binaries: the "primary" star name is followed by "A", and its companion stars are labelled by the same name followed by "B", "C", etc.).</p>
    <p>In the ExoWorlds list, five stars already have common names: Fomalhaut (alpha Piscis Austrini) is one of the four “royal stars” of ancient Persia, with Aldebaran, Antares, and Regulus; Pollux (beta Geminorum) is the twin brother of Castor, son of Zeus (Jupiter) and Leda, from the ancient Greek and Roman mythologies — the constellation Gemini is named after them (Gemini means twins in latin). Three other stars also have common names: gamma Cephei (Errai, Arabic for shepherd), epsilon Tauri (Ain, Arabic for the bull's Eye) and iota Draconis (Edasich, Arabic also). These stars have common names as well in other cultures [1].</p>
    <p>Consequently these five stars cannot be considered for public naming.</p>
    <p>Select a system to view it</p>
</div>
</div>

<h2>The top 20 nameable systems</h2>
<h3>(Deadline of name submission: May 31, 2015 23:59 UTC)</h3>

<%if @club and !@club.can_suggest%>
  <div class='row'>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <td>Your system name</td>
            <td>Your planet name</td>
            <td> Host Star (catalogue)</td>
            <td> Number of planets</td>
            <td>Constellation (English)</td>
            <td>Visibility </td>
            <td>V magnitude </td>
          </tr>
        </thead>
        <tbody>
          <%=render  partial: "system_table_rows", :locals=>{system:@club.proposed_star_names.first.system, club:@club, show_proposed_name:true, only_system: true }%>
        </tbody>
      </table>
  </div>
<%end%>

<div class='row'>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>


          <td> Host Star (catalogue)</td>
          <td> Number of planets</td>
          <td>Constellation (English)</td>
          <td>Visibility </td>
          <td>V magnitude </td></tr>
      </thead>
      <tbody>
        <%@systems.select{|s| s.nameable==true or s.nameable_planets > 0}.each do |s|%>
          <%if @club%>
            <%=render  partial: "system_table_rows", :locals=>{system:s, club:@club, show_proposed_name:false, only_system: true }%>
          <%else%>
            <%=render  partial: "system_table_rows", :locals=>{system:s, show_proposed_name:false, only_system: true}%>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div id="background" class="row">
  <div class="col-lg-12">
    <h1 class="center-text">About the 20 Systems</h1>
    <p>While there are no astronomical names for exoplanets, the host stars have well known and multiple astronomical designations. The IAU standardized the names, abbreviations, and boundaries for the 88 constellations, and the
nomenclature of astronomical objects such as stars, nebulae, or galaxies is described in <a href="http://www.iau.org/public/themes/naming/">http://www.iau.org/public/themes/naming/</a>.</p>
<p>Standard astronomical nomenclature allows one to find and identify stars or astronomical objects and assists astronomers in conducting research on specific objects.  The SIMBAD astronomical database provides basic data, cross-identifications, bibliography and measurements for astronomical objects outside the solar system (<a href="http://simbad.u-strasbg.fr/simbad/">http://simbad.u-strasbg.fr/simbad/</a>).  Ian Ridpatth’s excellent book Star Tales describes the myths, legends, and history of constellations and is online at <a href="http://www.ianridpath.com/startales/contents.htm">http://www.ianridpath.com/startales/contents.htm</a>.</p>

<p>There are four standard ways to designate stars and astronomical objects:</p>

<p>1. Ancient proper names usually Greek or Arabic in origin but different cultures had different names for the same star.  Many but not all of the stellar names relate to the constellations in which the star is located.  A classic book about the history of star names in multiple cultures is R.H. Allen's "Star-Names and their Meanings" (G.E. Stechert, New York, 1899; <a href="https://archive.org/details/starnamesandthe00allegoog">https://archive.org/details/starnamesandthe00allegoog</a>) – other sites lists Gibson’s  compilation of star nams at  <a href="http://www.naic.edu/~gibson/starnames/starnames.html">http://www.naic.edu/~gibson/starnames/starnames.html</a></p>
<p>2. Constellation based names are used for the brightest stars.  The Bayer star chart and catalog (1603) ordered stars in each constellation (using the Latin genitive or possessive constellation name) by approximate brightness using Greek or Roman letters with Alpha to label the brightest star, Beta the second brightest star, etc.   For example, the brightest star in Cygnus (the Swan) is Alpha Cygni, which is also called Deneb.   Flamsteed created a catalog of 3000 stars (1725) ordered from west to east by celestial longitude (right ascension).  The Flamsteed numbers, for example 61 Cygni, were introduced by Lalande in the 1783 French edition of Flamsteeds’catalogue and listed consecutively in each constellation.</p>
<p>3. Catalogs are named for the astronomer(s) who created the catalog; the type of object (hot stars, close stars, bright stars, etc.); and the observatory, telescope or instrument used identify and study the objects.  The astronomical objects are listed by a sequential number that is usually ordered from west to east by celestial longitude (right ascension).</p>
<p>4. Coordinate-based catalogs list an acronyms or abbreviations of an astronomical objects or survey followed by their celestial longitude  (right ascension) and celestial latitude (declination) as their unique name or designation and ordered from west to east by right ascension. For example there are catalogs for pulsars (PSR), quasars (QSO), and or the Sloan Digital Sky Survey (SDSS).</p>

<p>The host stars of the exoplants are:</p>
<ol>
  <li>55 Cancri (Flamsteed number) is the 55th star in the constellation Cancer,  the Crab ordered from west to east.</li>
  <li>Epsilon Tauri (Bayer number), historical name Ain which means second eye of the bull,  is 5th the brightest star in the constellation Taurus the bull.</li>
  <li>51 Pegasi (Flamsteed number) is the 51th star in the constellation Pegasus, the Winged Horse, ordered from west to east.</li>
  <li>14 Andromedae  (Flamsteed number) is the 14th star in the constellation Andromeda, the Chained Maiden and daughter of Cassiopeia, ordered from west to east.</li>
  <li>Upsilon Andromedae (Bayer number) is the 20th brightest star in the constellation Andromeda, the Chained Maiden and daughter of Cassiopeia, ordered from west to east.</li>
  <li>Pollux (Bayer number beta Geminorum) is the brightest star in the constellation Gemini, the Twins and named for the Pollux, the boxer, who was the brother of Castor in Greek mythology.</li>
	<li>Xi Aquilae (Beyer number) is the 14th brightest star in the constellation Aquila, the Eagle,  ordered from west to east.</li>
	<li>47 Ursae Majoris (Flamsteed number) is the 47th  star in the constellation Ursa Major, the Great Bear, ordered from west to east.</li>
    <li>Mu Arae is the 12th brightest star in the constellation Ara, the Alter, ordered from west to east</li>
    <li>Edasich, which means hyena, (Bayer number iota Draconis) is the 9th brightest star in the constellation Draco, the Dragon.</li>
    <li>HD 149026 is the 1449026th star (out of 225,300) in The Henry Draper (HD) Catalogue of stellar spectra arranged from west to east. </li>
    <li>Fomalhaut, which means mouth of the fish, (Bayer number alpha Piscis Austrini) is the brightest star in the constellation Piscis Austrini, Southern Fish.</li>
    <li>HD 104985 is the 104985th star (out of 225,300) in The Henry Draper (HD) Catalogue of stellar spectra arranged from west to east.</li>
    <li>18 Delphinis  (Flamsteed number) is the 18th star in the constellation Delphini, the dolphin,
    ordered from west to east.</li>
    <li>Epsilon Eridani is the 5th brightest star in the constellation Eridani, the River.</li>
    <li>Errai which means shepherd (Bayer number gamma Cephei)  4th  brightest star in the constellation Cepheus, the King.</li>
    <li>HD 81688 is the 81688th star (out of 225,300) inThe Henry Draper (HD) Catalogue of stellar spectra arranged from west to east.</li>
    <li>42 Draconis (Flamsteed number) is the 42th star in the constellation Draco, the Dragon ordered from west to east.</li>
    <li>Tau Bootis is the 19th brightest star in the constellation Bootis, the Herdsman.</li>
    <li>PSR 1257+12, PSR is an acronym for pulsar, a pulsing radio source now identified as a rotating neutron star followed by the celestial equatorial coordinates of right ascension (longitude) 12 hours  57 min and +12 degrees or 12 degrees north declination (longitude).</li>

</ol>

<br>
<img src="https://directory.iau.org/f/page/39/20ExoPlanets_small-01.png">
  </div>
</div>

<h2>All systems</h2>

<div class='row'>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">

      <thead>
        <tr><td> Host Star (catalogue)</td> <td># Planet (designation)</td> <td> Planet Mass (Jupiter mass)</td> <td>Planet Mass (Earth mass)</td> <td> Orbital Period (day)</td> <td> Semi Major Axis (au)</td> <td>Discovery (year)</td> <td>Constellation (English)</td> <td>Visibility </td> <td>V magnitude </td></tr>
      </thead>
      <tbody>
        <tr class='section'><td colspan="10">1 exoplanet (4 systems)</td></tr>
        <%@systems.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan="10">1 star + 1 exoplanet (4 systems)</td></tr>
        <%@systems.select{|s| s.planets.count==1 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10> 1 star + 2 exoplanets (20 systems)</td></tr>
        <%@systems.select{|s| s.planets.count==2 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>
        <tr class='section'><td colspan=10>1 star + 3 exoplanets (9 systems)</td></tr>

        <%@systems.select{|s| s.planets.count==3 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10>1 star + 4 exoplanets (1 system)</td></tr>

        <%@systems.select{|s| s.planets.count==4 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10>1 star + 5 exoplanets (1 system)</td></tr>
        <%@systems.select{|s| s.planets.count==5 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div class='row'>
  <h2>References</h2>
  <p>[1] Kunitzsch, P, and Smart, T., 2006, "A Dictionary of Modern Star Names" (2nd Revised Edition, Sky Publishing, Cambridge, MA, USA)</p>
  <p>[2] Schneider, J., Dedieu, C., Le Sidaner, P., Savalle, R., and Zolotukhin, I. 2011, “Defining and cataloging exoplanets: the exoplanet.eu database”, Astronomy & Astrophysics, vol.532, id.A79, 11 pp.</p>
  <p>[3] Wright, J. T., Fakhouri, O., Marcy, G. W., Han, E., Feng, Y., Johnson, John Asher, Howard, A. W., Fischer, D. A., Valenti, J. A., Anderson, J., Piskunov, N. 2011, “The Exoplanet Orbit Database”, Publications of the Astronomical Society of the Pacific, Vol.123, issue 902, pp.412-422.</p>
</div>
