<div id='planets' class='row'>
  <div class='col-lg-12'>
    <h1 class='center-text'>The ExoWorlds</h1>
    <p>The ExoWorlds list of exoplanets and their host stars being available for public naming at the initiative of the IAU is a list compiled from several exoplanet databases, including exoplanet.eu [2] and exoplanets.org [3].</p>
    <p>This list includes well-studied exoplanets discovered over twenty years, up to 31 December 2008. A period of at least five years since the discovery has been considered as a simple and satisfactory criterion to include exoplanets which can be considered as confirmed. All the discoveries were made using various methods, including radial velocities, transits, microlensing and direct imagery.</p>
    <p>For these exoplanets, the scientific nomenclature follows the nomenclature rules widely adopted by the scientific community, which are drawn from the rules for naming binary stars. For each planet, the name of the host star (around which planets are orbiting) is followed by a lower-case letter: b for the first discovered exoplanet, c for the second, etc. (The letters are capitalized in the case of binaries: the "primary" star name is followed by "A", and its companion stars are labelled by the same name followed by "B", "C", etc.).</p>
    <p>In the ExoWorlds list, five stars already have common names: Fomalhaut (alpha Piscis Austrini) is one of the four “royal stars” of ancient Persia, with Aldebaran, Antares, and Regulus; Pollux (beta Geminorum) is the twin brother of Castor, son of Zeus (Jupiter) and Leda, from the ancient Greek and Roman mythologies — the constellation Gemini is named after them (Gemini means twins in latin). Three other stars also have common names: gamma Cephei (Errai, Arabic for shepherd), epsilon Tauri (Ain, Arabic for the bull's Eye) and iota Draconis (Edasich, Arabic also). These stars have common names as well in other cultures [1].</p>
    <p>Consequently these five stars cannot be considered for public naming.</p>
    <p>Select a system to view it</p>
</div>
</div>

<h2>The top 20 nameable systems</h2>

<div class='row'>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td> Host Star (catalogue)</td>
          <td> Number of planets</td>
          <td>Constellation (English)</td>
          <td>Visibility </td>
          <td>V magnitude </td></tr>
      </thead>
      <tbody>
        <% @systems.select{|s| s.nameable==true or s.nameable_planets > 0}.each do |s| %>
          <%=render  partial: "system_table_rows", :locals=>{system: s, show_proposed_name: false, only_system: true}%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="background" class="row">
  <div class="col-lg-12">
    <h1 class="center-text">About the 20 Systems</h1>
    <p>While there are no astronomical names for exoplanets, the host stars have well known and multiple astronomical designations. The IAU standardized the names, abbreviations, and boundaries for the 88 constellations, and the
nomenclature of astronomical objects such as stars, nebulae, or galaxies is described in <a href="http://www.iau.org/public/themes/naming/">http://www.iau.org/public/themes/naming/</a>.</p>
<p>Standard astronomical nomenclature allows one to find and identify stars or astronomical objects and assists astronomers in conducting research on specific objects.  The SIMBAD astronomical database provides basic data, cross-identifications, bibliography and measurements for astronomical objects outside the solar system (<a href="http://simbad.u-strasbg.fr/simbad/">http://simbad.u-strasbg.fr/simbad/</a>).  Ian Ridpatth’s excellent book Star Tales describes the myths, legends, and history of constellations and is online at <a href="http://www.ianridpath.com/startales/contents.htm">http://www.ianridpath.com/startales/contents.htm</a>.</p>

<p>There are four standard ways to designate stars and astronomical objects:</p>

<p>1. Ancient proper names usually Greek or Arabic in origin but different cultures had different names for the same star.  Many but not all of the stellar names relate to the constellations in which the star is located.  A classic book about the history of star names in multiple cultures is R.H. Allen's "Star-Names and their Meanings" (G.E. Stechert, New York, 1899; <a href="https://archive.org/details/starnamesandthe00allegoog">https://archive.org/details/starnamesandthe00allegoog</a>) – other sites lists Gibson’s  compilation of star nams at  <a href="http://www.naic.edu/~gibson/starnames/starnames.html">http://www.naic.edu/~gibson/starnames/starnames.html</a></p>
<p>2. Constellation based names are used for the brightest stars.  The Bayer star chart and catalog (1603) ordered stars in each constellation (using the Latin genitive or possessive constellation name) by approximate brightness using Greek or Roman letters with Alpha to label the brightest star, Beta the second brightest star, etc.   For example, the brightest star in Cygnus (the Swan) is Alpha Cygni, which is also called Deneb.   Flamsteed created a catalog of 3000 stars (1725) ordered from west to east by celestial longitude (right ascension).  The Flamsteed numbers, for example 61 Cygni, were introduced by Lalande in the 1783 French edition of Flamsteeds’catalogue and listed consecutively in each constellation.</p>
<p>3. Catalogs are named for the astronomer(s) who created the catalog; the type of object (hot stars, close stars, bright stars, etc.); and the observatory, telescope or instrument used identify and study the objects.  The astronomical objects are listed by a sequential number that is usually ordered from west to east by celestial longitude (right ascension).</p>
<p>4. Coordinate-based catalogs list an acronyms or abbreviations of an astronomical objects or survey followed by their celestial longitude  (right ascension) and celestial latitude (declination) as their unique name or designation and ordered from west to east by right ascension. For example there are catalogs for pulsars (PSR), quasars (QSO), and or the Sloan Digital Sky Survey (SDSS).</p>

<p>The host stars of the exoplanets are:</p>
<ol>
  <li>55 Cancri (Flamsteed number) is the 55th star in the constellation Cancer,  the Crab ordered from west to east.</li>
  <li>Epsilon Tauri (Bayer number), historical name Ain which means second eye of the bull,  is 5th the brightest star in the constellation Taurus the bull.</li>
  <li>51 Pegasi (Flamsteed number) is the 51th star in the constellation Pegasus, the Winged Horse, ordered from west to east.</li>
  <li>14 Andromedae  (Flamsteed number) is the 14th star in the constellation Andromeda, the Chained Maiden and daughter of Cassiopeia, ordered from west to east.</li>
  <li>Upsilon Andromedae (Bayer number) is the 20th brightest star in the constellation Andromeda, the Chained Maiden and daughter of Cassiopeia, ordered from west to east.</li>
  <li>Pollux (Bayer number beta Geminorum) is the brightest star in the constellation Gemini, the Twins and named for the Pollux, the boxer, who was the brother of Castor in Greek mythology.</li>
	<li>Xi Aquilae (Beyer number) is the 14th brightest star in the constellation Aquila, the Eagle,  ordered from west to east.</li>
	<li>47 Ursae Majoris (Flamsteed number) is the 47th  star in the constellation Ursa Major, the Great Bear, ordered from west to east.</li>
    <li>Mu Arae is the 12th brightest star in the constellation Ara, the Alter, ordered from west to east</li>
    <li>Edasich, which means hyena, (Bayer number iota Draconis) is the 9th brightest star in the constellation Draco, the Dragon.</li>
    <li>HD 149026 is the 1449026th star (out of 225,300) in The Henry Draper (HD) Catalogue of stellar spectra arranged from west to east. </li>
    <li>Fomalhaut, which means mouth of the fish, (Bayer number alpha Piscis Austrini) is the brightest star in the constellation Piscis Austrini, Southern Fish.</li>
    <li>HD 104985 is the 104985th star (out of 225,300) in The Henry Draper (HD) Catalogue of stellar spectra arranged from west to east.</li>
    <li>18 Delphinis  (Flamsteed number) is the 18th star in the constellation Delphini, the dolphin,
    ordered from west to east.</li>
    <li>Epsilon Eridani is the 5th brightest star in the constellation Eridani, the River.</li>
    <li>Errai which means shepherd (Bayer number gamma Cephei)  4th  brightest star in the constellation Cepheus, the King.</li>
    <li>HD 81688 is the 81688th star (out of 225,300) inThe Henry Draper (HD) Catalogue of stellar spectra arranged from west to east.</li>
    <li>42 Draconis (Flamsteed number) is the 42th star in the constellation Draco, the Dragon ordered from west to east.</li>
    <li>Tau Bootis is the 19th brightest star in the constellation Bootis, the Herdsman.</li>
    <li>PSR 1257+12, PSR is an acronym for pulsar, a pulsing radio source now identified as a rotating neutron star followed by the celestial equatorial coordinates of right ascension (longitude) 12 hours  57 min and +12 degrees or 12 degrees north declination (latitude).</li>

</ol>
  </div>
</div>

<div id="discoverers" class="row">
  <div class="col-lg-12">
    <h1 class="center-text">Notes from the discoverers</h1>
    <h3>Edasich b (iota Draconis b)</h3>
    <p>&#8220;The planet around iota Draconis was the first planet ever discovered around a giant star. Its orbit is very eccentric, which is quite unique among planets around giant stars. Possibly the high     eccentricity is related to another body in the system much further out. We are still monitoring iota Draconis today in order to find out more about that other companion and how the two might have     influenced each other.</p>
    <p>&#8220;I still remember the observing run at Lick Observatory during which it became clear that there is a planet present in the system. I observed iota Draconis already during the first night of that run, and, noting the large and unexpected drop in radial velocity, I kept observing it every night. At the end of the run, the data clearly showed that iota Draconis hosts a planet in a very eccentric orbit. I have been quite lucky to have caught the system during this telltale episode of rapid decrease in radial velocity - this occurs only for a few days during every 1.4 year orbit!&#8221;</p>
    <em>Sabine Reffert<br>
    Landessternwarte Heidelberg, Germany</em>
	<hr>
	<h3>Errai b (gamma Cephei b)</h3>
	<p>&#8220;The star gamma Cephei A is bright enough to be seen with the naked eye, but its companion planet `b&rsquo; is nearly a billion times fainter and only the tiny reflex motion of the bright star A measured over several years revealed its presence. Bruce Campbell, Gordon Walker and Stephenson Yang detected this subtle movement with a spectrograph and a tube filled with hydrogen fluoride gas on  telescopes in Hawaii and Canada in the 1980s, an innovation at that time.</p>
    <p>&#8220;The presence of the planet was difficult to decipher because gamma Cephei A also has a very faint (at that time unseen) red dwarf star companion B. The planet orbits A in just over 2 years, while B takes fifty-seven years. The planet lies about the same distance from A as Mars does from the sun and B is about eight times further away. It was our bad luck that the first planet we detected     orbiting another star should be in a binary and in an orbit that seemed too close for a giant planet to survive – so it took several years to confirm its reality.&#8221;</p>
    <em>Gordon Walker</em>
    <hr>
	<h3>Errai b (gamma Cephei b), Pollux b (beta Geminorum b) and epsilon Eridani b</h3>
	<p>&#8220;These planets orbit bright stars so there is a history to them. [I would probably encourage] names associated with mythology, or the constellations they are in would be good.&#8221;</p>
	<em>Artie Hatzes</em>
    <hr>
	<h3>Fomalhaut b (alpha Piscis Austrini b)</h3>
	<p>&#8220;Over the years, I have seen that my HST image of Fomalhaut&rsquo;s dust belt evokes a mystical reaction from the public, in large part because it resembles a giant eye. Thus the semantics behind a Fomalhaut b name could refer to concepts such as eyes, visions, or dreams.</p>
	<p>&#8220;My personal background is that both my parents were born and raised on the island of Crete. Therefore if you wanted to indirectly reference me as the discoverer of Fomalhaut b, you could find a reference to Greek mythology or history.</p>
	<p>&#8220;I would propose the name &#8220;Phantasos&#8221;, one of the dream gods. This is because Fomalhaut b has a certain debatable, uncertain, and personal quality about it, like a dream.</p>
	<p>&#8220;Also, in the science history of Fomalhaut b, three years after I announced the discovery in late 2008, other scientists and journalists developed a mass hysteria against the very existence of     Fomalhaut b. In essence they were telling me that I must be dreaming, that Fomalhaut b is not real.</p>
	<p>&#8220;Of course Fomalhaut b is now confirmed, yet the story illustrates the tension between objective reality and what one might wish to be true, as in a dream. You could say that in 2012 Fomalhaut b was considered a &ldquo;phantom&rdquo; exoplanet by many. Eventually they would find that my dream was true after all.&#8221;</p>
	<em>Paul Kalas</em>
    <hr>
	<h3>Mu Arae c</h3>
	<p>&#8220;If I were to chose, I would like this planet to have  a Portuguese-related name.&#8221;</p>
	<em>Nuno Santos</em>
    <hr>
	<h3>Mu Arae d</h3>
	<p>&#8220;We have been particularly interested in the Radial Velocity of HD 160691 since it's observations have been published and first interpreted by the Anglo-Australian Telescope (AAT) Planet Search Team. The work of the AAT team lead to the discovery of a Jupiter-like companion in ~630 day orbit (Jones et al., MNRAS 337, 2002). They also discovered a linear trend in the RV data revealing a signature of the second, more distant body. In the next paper, McCarthy et al. (2004) published a new orbital solution with the orbital period of the long-period planet HD160691c about 3000 days and large eccentricity 0.57. The same year, Santos et al. (2004) using observations done with the ultraprecise HARPS spectrometer, announced 14 Earth-mass planet HD 160691d in ~9 day orbit.</p>
	<p>&#8220;Our detection of the third giant planet mu Arae e (HD 160691e) was somehow unusual. It has become a kind of routine that shortly after the AAT team published updated RV data of mu Arae, which were interpreted in terms of Keplerian (i.e. kinematic model of the RV that does not account for planetary mutual interactions), we tried to update our independent Newtonian (dynamical) models of this system and to refine our search algorithm (Gozdziewski, Konacki and Maciejewski, ApJ 594, 2003, Gozdziewski, Konacki and Maciejewski et al., ApJ 622, 2005). We dubbed it GAMP which is an acronym of the Genetic Algorithms with MEGNO Penalty, MEGNO is a refined Maximal Lyapunov Exponent algorithm developed by Pablo Cincotta, Carles Simo and Claudia Giordano (A&AS 147, 2000). The underlying idea of this approach was to combine the global optimization techniques with stability constraints when the mutual dynamical interactions are significant.</p>
	<p>&#8220;I have been very excited and curious when seeing new RV data of mu Arae published by the team lead by Paul Butler (ApJ 646, July 2006). Since our earlier Newtonian models of the mu Arae system were not well constrained, I wanted to check the previous predictions on the basis of updated observations in the Butler's catalogue. Unfortunately, three planet configurations have appeared unstable, though it was possible to find marginally stable resonant configurations of the two known Jovian giants in eccentric, almost crossing orbits.  That was  very discouraging and depressing, since I expected that the new RV data will constrain the system much better than before. Then I started to run blind test models with four planets (with three giants), without any assumptions on their orbits. Surprisingly, such models immediately converged to nice, quasi-circular and very stable configurations. It was unexpected though that the new planet could have the orbital period of ~307 days, i.e. by two times shorter than  ~630 days of HD 160691b which was detected a few years earlier by Jones et al., MNRAS 337, 2002 . The new planet was simply hidden in the first part of the RV signal, though its mass is still quite large, ~0.5 Jupiter masses. That was possible due to a quasi-resonant 2:1 configuration of these two inner giants. Therefore, I believe that the key for detecting HD160691e planet in the Solar system - like architecture was to optimize the orbital RV model with the quasi-global approach making use of the Genetic Algorithms, given ~20 free parameters and the highly "non-standard orbital setup" of the mu Arae system.</p>
	<p>&#8220;We submitted our results to ApJ and to astro-ph archive around middle of August, 2006. At almost the same time a new paper by the team lead by Francesco Pepe of the Geneva Observatory (A&A 462, 2007) has appeared in astro-ph. This work independently predicted the new mu Arae planet in ~310 days orbit on the basis of precision RV data collected with the HARPS and CORALIE spectrographs (without the AAT and Keck measurements). The team of Francesco Pepe has kindly provided their RV data to us. Thanks to them, our paper (Gozdziewski, Maciejewski and Migaszewski, ApJ, 2007) have been published with a few variants of the orbital model, including all mu Are RV data available at that time.</p>
	<p>&#8220;I would be happy to see an updated model of this intriguing planetary system with ~10 years of new observations (which are not yet available in the literature...). One of open question is: are the two inner giant planet involved in the 2:1 MMR or not, given that more planets might exist, for instance in  large "empty space" between planets b and c.&#8221;</p>
	<em>Krzysztof Gozdziewski</em>
    <hr>
	<h3>Mu Arae e</h3>
	<p>&#8220;Mu Arae e was discovered though work conducted at the AAT in New South Wales, Australia, located near the town of Coonabarabran, and the nearby Warumbungles National Park.</p>
	<p>&#8220;I have personally thought that exoplanets, like the planets in our solar system should be named after mythological figures, gods, goddesses, deities, etc. In the case of Mu Arae, I don't know if anyone has proposed names from Australian Aborignal culture &  mythology, but if so, I would regard such a naming as very appropriate.&#8221;</p>
	<em>Chris McCarthy</em>
    <hr>
	<h3>PSR 1257+12 b, c, and d</h3>
	<p>&#8220;The pulsar planets have been detected orbiting PSR B1257+12, the 6.2-millisecond pulsar discovered in February 1990, during a survey of the radio sky with the 305-m Arecibo radio telescope. The two outer planets, announced in January 1992, have masses of about 4 times the mass of our Earth, and the inner one, detected in 1994, is only twice as massive as the Moon. The corresponding orbital periods of the three planets are 98, 65 and 25 days. The whole system is compact enough to fit inside the orbit of Mercury.</p>
	<p>&#8220;The pulsar planet discovery has been made using the highly precise pulse timing technique. It was possible because the orbiting planets make the pulsar wobble in space, and that motion translates into easily measurable, millisecond variations in the pulse arrival times at the telescope. The same technique was used to confirm the existence of the pulsar planets by detecting subtle changes in the orbits of the two larger planets caused by their proximity to the 3:2 orbital resonance.</p>
	<p>&#8220;A planetary system orbiting PSR B1257+12 represents the first confirmed planets beyond the Sun. It is also the first extrasolar planetary system, in which an orbital resonance has been measured, and it is the first example of a “tightly packed”, super-Earth mass system, which is the kind of orbital configuration now commonly detected by the Kepler telescope and the most sensitive radial velocity surveys. From the very start, the existence of such a system carried with it a prediction that planets around other stars must be common, and that they may exist in a wide variety of architectures, which would be impossible to anticipate on the basis of our knowledge of the Solar System alone.&#8221;</p>
	<em>Alex Wolszczan</em>
    <hr>
	<h3>55 Cancri e</h3>
	<p>&#8220;The 55 Cancri system,  with multiple planets and 41 light years from earth,  has some similarities to our own solar system.   It has a Jupiter-like gas planet residing at a Jupiter distance, with a star a little bit lighter than our sun, and an inner planet 'e' termed a super-earth - perhaps tidally locked to the star.</p>
	<p>&#8220;I first looked at this system, because there was existing Hubble Astrometry, which I believed, could be reanylized to gain more information about the system. I used the McDonald Observatory HET to make additional radial velocity observations of the system - with its queue-scheduled telescope and  found a small planet that had not been detected before, which was one of a new class of small objects at its discovery.</p>
	<p>&#8220;I did this project in my 'spare time' receiving observations but no funding, to keep myself busy while my husband, an astronomer, was deployed in a war zone, and my four children were keeping me involved with their school, tennis and music pursuits. It kept me from worrying about his safety in the evenings when I worked on the project.</p>
	<em>Barbara McArthur</em>
    <br>
	<br>
	<img src="https://directory.iau.org/f/page/39/20ExoPlanets_small-01.png">
  </div>
</div>

<h2>All systems</h2>

<div class='row'>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">

      <thead>
        <tr><td> Host Star (catalogue)</td> <td># Planet (designation)</td> <td> Planet Mass (Jupiter mass)</td> <td>Planet Mass (Earth mass)</td> <td> Orbital Period (day)</td> <td> Semi Major Axis (au)</td> <td>Discovery (year)</td> <td>Constellation (English)</td> <td>Visibility </td> <td>V magnitude </td></tr>
      </thead>
      <tbody>
        <tr class='section'><td colspan="10">1 exoplanet (5 systems)</td></tr>
        <%@systems.select{|s| s.planets.size==1 and s.nameable==false}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan="10">1 star + 1 exoplanet (4 systems)</td></tr>
        <%@systems.select{|s| s.planets.size==1 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10> 1 star + 2 exoplanets (20 systems)</td></tr>
        <%@systems.select{|s| s.planets.size==2 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>
        <tr class='section'><td colspan=10>1 star + 3 exoplanets (9 systems)</td></tr>

        <%@systems.select{|s| s.planets.size==3 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10>1 star + 4 exoplanets (1 system)</td></tr>

        <%@systems.select{|s| s.planets.size==4 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>

        <tr class='section'><td colspan=10>1 star + 5 exoplanets (1 system)</td></tr>
        <%@systems.select{|s| s.planets.size==5 and s.nameable==true}.each do |s|%>
          <%=render  partial: "system_table_rows", :locals=>{system:s,show_proposed_name:false, only_system: false}%>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div class='row'>
  <h2>References</h2>
  <p>[1] Kunitzsch, P, and Smart, T., 2006, "A Dictionary of Modern Star Names" (2nd Revised Edition, Sky Publishing, Cambridge, MA, USA)</p>
  <p>[2] Schneider, J., Dedieu, C., Le Sidaner, P., Savalle, R., and Zolotukhin, I. 2011, “Defining and cataloging exoplanets: the exoplanet.eu database”, Astronomy & Astrophysics, vol.532, id.A79, 11 pp.</p>
  <p>[3] Wright, J. T., Fakhouri, O., Marcy, G. W., Han, E., Feng, Y., Johnson, John Asher, Howard, A. W., Fischer, D. A., Valenti, J. A., Anderson, J., Piskunov, N. 2011, “The Exoplanet Orbit Database”, Publications of the Astronomical Society of the Pacific, Vol.123, issue 902, pp.412-422.</p>
</div>
