<div class='planet col-lg-3'>
  <div class='header'>
    <h3>{{planet.name}}</h3>
  </div>

  <ul  {{bind-attr class=':name_list expanded'}}>
    {{#each planet.suggested_names}}
      <li><span class='suggested_name'> {{name}} </p> <span class='badge badge-warning'>{{votes}}</span> <span><i class="icon-thumbs-up"></i></span></li>
    {{/each}}
    <a {{action 'expand'}} class='expand'>expand</a>
  </ul>
</div>
