
<h1><%=@system.name%></h1>
<%if @club%>

  <p style="<%= 'display:none' unless     @system.has_club_vote(@club)%>" class='remove_vote ' data-system-id=<%=@system.id %> > Remove selection for this system <span class="glyphicon glyphicon-ok voted_on" aria-hidden="true"></span></p>

  <% if @club.has_reached_vote_limit? %>
      <p>You have reached your selection limit. Please unselect another system to select this one.</p>
    <%else%>
      <div class='add_vote' style="<%= 'display:none' if @system.has_club_vote(@club)%>">
        <p id='create_selection'  data-system-id=<%=@system.id %> >  Select this system <span class="glyphicon glyphicon-ok " aria-hidden="true"></span> </p>
        <p> You have <%=@club.votes_remaining%> selections remaining.</p>
      </div>
      <p style="display:none" class='updating '>Updating</p>
    <%end%>

<%end%>



<div class='row'>

  <div class= 'col-md-5'>
    <%= react_component "SystemViewer", star_mag: @system.vmag, planets:@system.planets %>
  </div>
  <div class ='col-md-7'>
    <div class="panel panel-default ">
      <div class="panel-heading">Star details</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Constallation: <span class=' pull-right'><%=@system.constellation%></span></li>
          <li class="list-group-item">Vmag: <span class='pull-right'><%=@system.vmag%></span></li>
          <li class="list-group-item">Visibility: <span class='pull-right'><%=@system.visibility%></span> </li>
          <li class="list-group-item">No planets: <span class='pull-right'><%=@system.planets.count%></span> </li>
          <li class="list-group-item">Namable:    <span class='pull-right'><%=@system.nameable ? "Yes" : "No"%></span></li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default ">
      <div class="panel-heading">Planet details</div>
      <div class="panel-body">
        <%@system.planets.each do |planet|%>
          <ul class="list-group">
            <h3><%=planet.name%></h3>

            <li class="list-group-item">Mass (jupiters): <span class='pull-right'> <%=planet.mass_jup%></span></li>
            <li class="list-group-item">Mass (earths): <span class='pull-right'><%=planet.mass_earth%></span> </li>
            <li class="list-group-item">Period (days): <span class='pull-right'><%=planet.period%> </span></li>
            <li class="list-group-item">Semi Major Axis (AU): <span class='pull-right'><%=planet.semi_major%> </span></li>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>
