
<div class="row">
  <h1><%=@system.name%></h1>

  <div class= 'col-md-5'>
    <%= react_component "SystemViewer", star_mag: @system.vmag, planets:@system.planets %>
  </div>

  <div class ='col-md-7'>
    <div class="panel panel-default ">
      <div class="panel-heading">Star details</div>

      <ul class="list-group">
        <li class="list-group-item">Constellation: <span class=' pull-right'><%=@system.constellation%></span></li>
        <li class="list-group-item">Vmag: <span class='pull-right'><%=@system.vmag%></span></li>
        <li class="list-group-item">Visibility: <span class='pull-right'><%=@system.visibility%></span> </li>
        <li class="list-group-item">Number of planets: <span class='pull-right'><%=@system.planets.count%></span> </li>
        <li class="list-group-item">Namable:    <span class='pull-right'><%=@system.nameable ? "Yes" : "No"%></span></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Proposed names</div>
      <div class="panel-body">
        <table class="table table-responsive">
          <thead>
            <tr>
              <td><%= @system.name %></td>
              <% @system.planets.each do |planet| %>
                <td><%= link_to planet.name, "#planet-info-#{planet.id}" %></td>
              <% end %>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @proposals.each do |proposal| %>
              <tr>
                <td><%= proposal.proposed_system_name.name %></td>
                <% proposal.proposed_planet_names.each do |planet_proposal| %>
                  <td><%= planet_proposal.name %></td>
                <% end %>
                <td>
                  <% if user_signed_in? %>
                    <%= button_to "Vote", [proposal, :proposal_votes], method: :post %>
                  <% else %>
                    (sign in to vote)
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default ">
      <div class="panel-heading">Planet details</div>
      <div class="panel-body">
        <%@system.planets.each do |planet|%>
          <ul id="planet-info-<%= planet.id %>" class="list-group">
            <h2 style='color:black'><%=planet.name%></h2>
            <li class="list-group-item">Mass (Jupiters): <span class='pull-right'> <%=planet.mass_jup%></span></li>
            <li class="list-group-item">Mass (Earths): <span class='pull-right'><%=planet.mass_earth%></span> </li>
            <li class="list-group-item">Period (days): <span class='pull-right'><%=planet.period%> </span></li>
            <li class="list-group-item">Semi Major Axis (AU): <span class='pull-right'><%=planet.semi_major%> </span></li>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
</div>
